<wm-page name="mainpage" pagetitle="Main" data-ng-controller="MainPageController">
    <wm-header name="header" height="auto" content="header"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content name="mainContent" padding="unset 15px" columnwidth="8">
            <wm-tabs name="tabs1">
                <wm-tabpane title="Get AllTypes" name="tabpane1">
                    <wm-table title="JavaService_GetAllTypes" name="grid1" navigation="Basic" dataset="bind:Variables.SV_GetAllTypesGetAllTypes.dataSet">
                        <wm-table-column binding="pkId" caption="Pk Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="doubleCol" caption="Double Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="intCol" caption="Int Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="stringCol" caption="String Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="bigintCol" caption="Bigint Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="timeCol" caption="Time Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="shortCol" caption="Short Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="floatCol" caption="Float Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="booleanCol" caption="Boolean Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="blobCol" caption="Blob Col" type="string" widget-type="image" edit-widget-type="text" show="true" readonly="false">
                            <wm-picture picturesource="{{row.getProperty('blobCol')}}" hint="{{row.getProperty('blobCol')}}" class="" data-ng-class=""></wm-picture>
                        </wm-table-column>
                        <wm-table-column binding="dateCol" caption="Date Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="timestampCol" caption="Timestamp Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="longCol" caption="Long Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="bigdecCol" caption="Bigdec Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="textCol" caption="Text Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="datetimeCol" caption="Datetime Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="charCol" caption="Char Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="clobCol" caption="Clob Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="byteCol" caption="Byte Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                    </wm-table>
                </wm-tabpane>
                <wm-tabpane title="Get Single Record" name="tabpane2">
                    <wm-table title="" name="grid2" navigation="Basic" dataset="bind:Variables.SV_GetSingleRecordGetSingleRecord.dataSet">
                        <wm-table-column caption="Pk Id" mobiledisplay="true" pcdisplay="true" binding="pkId"></wm-table-column>
                        <wm-table-column caption="Double Col" mobiledisplay="true" pcdisplay="true" binding="doubleCol"></wm-table-column>
                        <wm-table-column caption="Int Col" mobiledisplay="true" pcdisplay="true" binding="intCol"></wm-table-column>
                        <wm-table-column caption="String Col" mobiledisplay="true" pcdisplay="true" binding="stringCol"></wm-table-column>
                        <wm-table-column caption="Bigint Col" mobiledisplay="true" pcdisplay="true" binding="bigintCol"></wm-table-column>
                        <wm-table-column caption="Time Col" mobiledisplay="true" pcdisplay="true" binding="timeCol"></wm-table-column>
                        <wm-table-column caption="Short Col" mobiledisplay="true" pcdisplay="true" binding="shortCol"></wm-table-column>
                        <wm-table-column caption="Float Col" mobiledisplay="true" pcdisplay="true" binding="floatCol"></wm-table-column>
                        <wm-table-column caption="Blob Col" mobiledisplay="true" pcdisplay="true" binding="blobCol"></wm-table-column>
                        <wm-table-column caption="Boolean Col" mobiledisplay="true" pcdisplay="true" binding="booleanCol"></wm-table-column>
                        <wm-table-column caption="Date Col" mobiledisplay="true" pcdisplay="true" binding="dateCol"></wm-table-column>
                        <wm-table-column caption="Timestamp Col" mobiledisplay="true" pcdisplay="true" binding="timestampCol"></wm-table-column>
                        <wm-table-column caption="Bigdec Col" mobiledisplay="true" pcdisplay="true" binding="bigdecCol"></wm-table-column>
                        <wm-table-column caption="Long Col" mobiledisplay="true" pcdisplay="true" binding="longCol"></wm-table-column>
                        <wm-table-column caption="Text Col" mobiledisplay="true" pcdisplay="true" binding="textCol"></wm-table-column>
                        <wm-table-column caption="Datetime Col" mobiledisplay="true" pcdisplay="true" binding="datetimeCol"></wm-table-column>
                        <wm-table-column caption="Char Col" mobiledisplay="true" pcdisplay="true" binding="charCol"></wm-table-column>
                        <wm-table-column caption="Clob Col" mobiledisplay="true" pcdisplay="true" binding="clobCol"></wm-table-column>
                        <wm-table-column caption="Byte Col" mobiledisplay="true" pcdisplay="true" binding="byteCol"></wm-table-column>
                    </wm-table>
                </wm-tabpane>
                <wm-tabpane title="GetLogged In Id" name="tabpane3">
                    <wm-table title="" name="grid3" navigation="Basic" dataset="bind:Variables.SV_GetByLoggedInIdGetByLoggedInId.dataSet">
                        <wm-table-column binding="pkId" caption="Pk Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="doubleCol" caption="Double Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="intCol" caption="Int Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="stringCol" caption="String Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="bigintCol" caption="Bigint Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="timeCol" caption="Time Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="shortCol" caption="Short Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="floatCol" caption="Float Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="booleanCol" caption="Boolean Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="blobCol" caption="Blob Col" type="string" widget-type="image" edit-widget-type="text" show="true" readonly="false">
                            <wm-picture picturesource="{{row.getProperty('blobCol')}}" hint="{{row.getProperty('blobCol')}}" class="" data-ng-class=""></wm-picture>
                        </wm-table-column>
                        <wm-table-column binding="dateCol" caption="Date Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="timestampCol" caption="Timestamp Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="longCol" caption="Long Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="bigdecCol" caption="Bigdec Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="textCol" caption="Text Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="datetimeCol" caption="Datetime Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="charCol" caption="Char Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="clobCol" caption="Clob Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="byteCol" caption="Byte Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                    </wm-table>
                </wm-tabpane>
                <wm-tabpane title="GetLoggedInIdBYPkId" name="tabpane4">
                    <wm-table title="" name="grid4" navigation="Basic" dataset="bind:Variables.SV_GetLoggingByPkIdGetLoggedInIdByPk.dataSet" gridclass="table-bordered table-hover table-striped">
                        <wm-table-column binding="pkId" caption="Pk Id" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="doubleCol" caption="Double Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="intCol" caption="Int Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="stringCol" caption="String Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="bigintCol" caption="Bigint Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="timeCol" caption="Time Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="shortCol" caption="Short Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="floatCol" caption="Float Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="blobCol" caption="Blob Col" type="string" widget-type="image" edit-widget-type="text" show="true" readonly="false">
                            <wm-picture picturesource="{{row.getProperty('blobCol')}}" hint="{{row.getProperty('blobCol')}}" class="" data-ng-class=""></wm-picture>
                        </wm-table-column>
                        <wm-table-column binding="booleanCol" caption="Boolean Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="dateCol" caption="Date Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="timestampCol" caption="Timestamp Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="bigdecCol" caption="Bigdec Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="longCol" caption="Long Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="textCol" caption="Text Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="datetimeCol" caption="Datetime Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="charCol" caption="Char Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="clobCol" caption="Clob Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="byteCol" caption="Byte Col" type="string" edit-widget-type="text" show="true" readonly="false"></wm-table-column>
                    </wm-table>
                </wm-tabpane>
                <wm-tabpane title="Insert Query" name="tabpane5">
                    <wm-button class="btn-default" type="button" name="button4" caption="Button" margin="unset 0.5em" on-click="Widgets.svinsertqueryinsertqueryDialog.open()"></wm-button>
                </wm-tabpane>
                <wm-tabpane name="tabpane6" title="Insert Query With Blob">
                    <wm-button class="btn-default" caption="JS Autowiring" type="button" margin="unset 0.5em" name="button8" on-click="Widgets.svinsertwithblobinsertqueryDialog.open()"></wm-button>
                </wm-tabpane>
                <wm-tabpane name="tabpane7">
                    <wm-form errormessage="" captionposition="top" title="Form" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.DbscenariosExecuteSV_InsertWithBlob.dataSet" captionalign="left" name="form3">
                        <wm-layoutgrid columns="2" name="layoutgrid4">
                            <wm-gridrow name="gridrow23">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn38">
                                    <wm-form-field name="BLOBCOL" readonly="false" displayname="Blobcol" key="BLOBCOL" type="file" show="true" widget="upload"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn39">
                                    <wm-form-field name="TIMESTAMPCOL" readonly="false" displayname="Timestampcol" key="TIMESTAMPCOL" type="string" show="true" widget="timestamp" placeholder="Select date time"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow24">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn40">
                                    <wm-form-field name="INTCOL" readonly="false" displayname="Intcol" key="INTCOL" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn41">
                                    <wm-form-field name="DOUBLECOL" readonly="false" displayname="Doublecol" key="DOUBLECOL" type="number" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow25">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn42">
                                    <wm-form-field name="TEXTCOL" readonly="false" displayname="Textcol" key="TEXTCOL" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn43">
                                    <wm-form-field name="DATETIMECOL" readonly="false" displayname="Datetimecol" key="DATETIMECOL" type="string" show="true" widget="datetime" placeholder="Select date"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow26">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn44">
                                    <wm-form-field name="TIMECOL" readonly="false" displayname="Timecol" key="TIMECOL" type="string" show="true" widget="time" placeholder="Select time"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn45">
                                    <wm-form-field name="BIGDECCOL" readonly="false" displayname="Bigdeccol" key="BIGDECCOL" type="number" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow27">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn46">
                                    <wm-form-field name="SHORTCOL" readonly="false" displayname="Shortcol" key="SHORTCOL" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn47">
                                    <wm-form-field name="BIGINTCOL" readonly="false" displayname="Bigintcol" key="BIGINTCOL" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow28">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn48">
                                    <wm-form-field name="STRINGCOL" readonly="false" displayname="Stringcol" key="STRINGCOL" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn49">
                                    <wm-form-field name="DATECOL" readonly="false" displayname="Datecol" key="DATECOL" type="string" show="true" widget="date" placeholder="Select date"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow29">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn50">
                                    <wm-form-field name="BYTECOL" readonly="false" displayname="Bytecol" key="BYTECOL" type="string" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn51">
                                    <wm-form-field name="CLOBCOL" readonly="false" displayname="Clobcol" key="CLOBCOL" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow30">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn52">
                                    <wm-form-field name="CHARCOL" readonly="false" displayname="Charcol" key="CHARCOL" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn53">
                                    <wm-form-field name="BOOLEANCOL" readonly="false" displayname="Booleancol" key="BOOLEANCOL" type="boolean" show="true" widget="checkbox" placeholder=""></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow31">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn54">
                                    <wm-form-field name="LONGCOL" readonly="false" displayname="Longcol" key="LONGCOL" type="integer" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn55">
                                    <wm-form-field name="FLOATCOL" readonly="false" displayname="Floatcol" key="FLOATCOL" type="number" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup3">
                            <wm-button caption="Reset" type="reset" class="btn-secondary" name="button9"></wm-button>
                            <wm-button caption="Cancel" type="button" class="btn-warning" name="button10"></wm-button>
                            <wm-button caption="Save" type="submit" class="btn-primary" name="button11"></wm-button>
                        </wm-buttongroup>
                    </wm-form>
                </wm-tabpane>
            </wm-tabs>
            <wm-liveform errormessage="" title="Blobtable_procedure Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.DbscenariosBlobtableProcedureData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                <wm-layoutgrid columns="1" name="layoutgrid3">
                    <wm-gridrow name="gridrow21">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn36">
                            <wm-form-field name="blobcol" displayname="Blobcol" required="false" show="true" generator="assigned" primary-key="false" key="blobcol" type="blob" is-related="false" maxchars="-1" pc-display="true" mobile-display="true" widget="upload"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow22">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn37">
                            <wm-form-field name="description" displayname="Description" required="false" show="true" generator="assigned" primary-key="false" key="description" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="pkid" displayname="Pkid" required="true" show="false" generator="identity" primary-key="true" key="pkid" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                <wm-form-action key="reset" class="form-reset btn-secondary" iconclass="wi wi-refresh" action="reset()" display-name="Reset" show="true" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
        <wm-right-panel columnwidth="2" content="rightnav" name="right_panel1"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog title="SV_InsertQueryInsertQuery Info" name="svinsertqueryinsertqueryDialog" modal="true" iconclass="wi wi-edit" dialogtype="design-dialog">
            <wm-form title="" captionposition="top" name="form1" dataset="bind:Variables.SV_InsertQueryInsertQuery.dataSet" enctype="application/x-www-form-urlencoded" errormessage="" method="post" captionalign="left" on-success="Widgets.svinsertqueryinsertqueryDialog.close()">
                <wm-layoutgrid name="layoutgrid1" columns="2">
                    <wm-gridrow name="gridrow1">
                        <wm-composite name="composite1">
                            <wm-label class="h4 control-label" name="label1" caption="SvInsertQueryRequest Details"></wm-label>
                        </wm-composite>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="6">
                            <wm-form-field type="double" readonly="false" name="SvInsertQueryRequest_BIGDECCOL" show="true" widget="number" key="SvInsertQueryRequest.BIGDECCOL" displayname="Bigdeccol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn2" columnwidth="6">
                            <wm-form-field type="long" readonly="false" name="SvInsertQueryRequest_BIGINTCOL" show="true" widget="number" key="SvInsertQueryRequest.BIGINTCOL" displayname="Bigintcol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="6">
                            <wm-form-field type="boolean" readonly="false" name="SvInsertQueryRequest_BOOLEANCOL" show="true" widget="checkbox" key="SvInsertQueryRequest.BOOLEANCOL" displayname="Booleancol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn4" columnwidth="6">
                            <wm-form-field type="byte" readonly="false" name="SvInsertQueryRequest_BYTECOL" show="true" widget="number" key="SvInsertQueryRequest.BYTECOL" displayname="Bytecol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn5" columnwidth="6">
                            <wm-form-field type="string" readonly="false" name="SvInsertQueryRequest_CHARCOL" show="true" widget="text" key="SvInsertQueryRequest.CHARCOL" displayname="Charcol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn6" columnwidth="6">
                            <wm-form-field type="string" readonly="false" name="SvInsertQueryRequest_CLOBCOL" show="true" widget="text" key="SvInsertQueryRequest.CLOBCOL" displayname="Clobcol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn7" columnwidth="6">
                            <wm-form-field type="date" readonly="false" name="SvInsertQueryRequest_DATECOL" show="true" widget="date" key="SvInsertQueryRequest.DATECOL" displayname="Datecol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn8" columnwidth="6">
                            <wm-form-field type="datetime" readonly="false" name="SvInsertQueryRequest_DATETIMECOL" show="true" widget="datetime" key="SvInsertQueryRequest.DATETIMECOL" displayname="Datetimecol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn name="gridcolumn9" columnwidth="6">
                            <wm-form-field type="double" readonly="false" name="SvInsertQueryRequest_DOUBLECOL" show="true" widget="number" key="SvInsertQueryRequest.DOUBLECOL" displayname="Doublecol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn10" columnwidth="6">
                            <wm-form-field type="float" readonly="false" name="SvInsertQueryRequest_FLOATCOL" show="true" widget="number" key="SvInsertQueryRequest.FLOATCOL" displayname="Floatcol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn name="gridcolumn11" columnwidth="6">
                            <wm-form-field type="integer" readonly="false" name="SvInsertQueryRequest_INTCOL" show="true" widget="number" key="SvInsertQueryRequest.INTCOL" displayname="Intcol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn12" columnwidth="6">
                            <wm-form-field type="long" readonly="false" name="SvInsertQueryRequest_LONGCOL" show="true" widget="number" key="SvInsertQueryRequest.LONGCOL" displayname="Longcol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn name="gridcolumn13" columnwidth="6">
                            <wm-form-field type="integer" readonly="false" name="SvInsertQueryRequest_SHORTCOL" show="true" widget="number" key="SvInsertQueryRequest.SHORTCOL" displayname="Shortcol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn14" columnwidth="6">
                            <wm-form-field type="string" readonly="false" name="SvInsertQueryRequest_STRINGCOL" show="true" widget="text" key="SvInsertQueryRequest.STRINGCOL" displayname="Stringcol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn name="gridcolumn15" columnwidth="6">
                            <wm-form-field type="string" readonly="false" name="SvInsertQueryRequest_TEXTCOL" show="true" widget="text" key="SvInsertQueryRequest.TEXTCOL" displayname="Textcol"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn16" columnwidth="6">
                            <wm-form-field type="time" readonly="false" name="SvInsertQueryRequest_TIMECOL" show="true" widget="date" key="SvInsertQueryRequest.TIMECOL" displayname="Timecol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn name="gridcolumn17" columnwidth="6">
                            <wm-form-field type="timestamp" readonly="false" name="SvInsertQueryRequest_TIMESTAMPCOL" show="true" widget="date" key="SvInsertQueryRequest.TIMESTAMPCOL" displayname="Timestampcol"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup class="form-action col-md-12" horizontalalign="right" name="buttongroup1">
                    <wm-button class="btn-secondary" type="reset" name="button1" caption="Reset"></wm-button>
                    <wm-button class="btn-warning" type="button" name="button2" caption="Cancel"></wm-button>
                    <wm-button class="btn-primary" type="submit" name="button3" caption="Save"></wm-button>
                </wm-buttongroup>
            </wm-form>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-dialog dialogtype="design-dialog" name="svinsertwithblobinsertqueryDialog" title="SV_InsertWithBlobInsertQuery Info" iconclass="wi wi-edit" modal="true">
            <wm-form errormessage="" captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.SV_InsertWithBlobInsertQuery.dataSet" captionalign="left" on-success="Widgets.svinsertwithblobinsertqueryDialog.close()"
                name="form2">
                <wm-layoutgrid columns="2" name="layoutgrid2">
                    <wm-gridrow name="gridrow11">
                        <wm-composite name="composite2">
                            <wm-label class="h4 control-label" caption="SvInsertWithBlobRequest Details" name="label2"></wm-label>
                        </wm-composite>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn18">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_BIGDECCOL" displayname="Bigdeccol" key="SvInsertWithBlobRequest.BIGDECCOL" type="double" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn19">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_BIGINTCOL" displayname="Bigintcol" key="SvInsertWithBlobRequest.BIGINTCOL" type="long" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn20">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_BOOLEANCOL" displayname="Booleancol" key="SvInsertWithBlobRequest.BOOLEANCOL" type="boolean" show="true" widget="checkbox"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn21">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_BYTECOL" displayname="Bytecol" key="SvInsertWithBlobRequest.BYTECOL" type="byte" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow14">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn22">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_CHARCOL" displayname="Charcol" key="SvInsertWithBlobRequest.CHARCOL" type="string" show="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn23">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_CLOBCOL" displayname="Clobcol" key="SvInsertWithBlobRequest.CLOBCOL" type="string" show="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow15">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn24">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_DATECOL" displayname="Datecol" key="SvInsertWithBlobRequest.DATECOL" type="date" show="true" widget="date"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn25">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_DATETIMECOL" displayname="Datetimecol" key="SvInsertWithBlobRequest.DATETIMECOL" type="datetime" show="true" widget="datetime"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn26">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_DOUBLECOL" displayname="Doublecol" key="SvInsertWithBlobRequest.DOUBLECOL" type="double" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn27">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_FLOATCOL" displayname="Floatcol" key="SvInsertWithBlobRequest.FLOATCOL" type="float" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow17">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn28">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_INTCOL" displayname="Intcol" key="SvInsertWithBlobRequest.INTCOL" type="integer" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn29">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_LONGCOL" displayname="Longcol" key="SvInsertWithBlobRequest.LONGCOL" type="long" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow18">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn30">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_SHORTCOL" displayname="Shortcol" key="SvInsertWithBlobRequest.SHORTCOL" type="integer" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn31">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_STRINGCOL" displayname="Stringcol" key="SvInsertWithBlobRequest.STRINGCOL" type="string" show="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow19">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn32">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_TEXTCOL" displayname="Textcol" key="SvInsertWithBlobRequest.TEXTCOL" type="string" show="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn33">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_TIMECOL" displayname="Timecol" key="SvInsertWithBlobRequest.TIMECOL" type="time" show="true" widget="time"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow20">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn34">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_TIMESTAMPCOL" displayname="Timestampcol" key="SvInsertWithBlobRequest.TIMESTAMPCOL" type="timestamp" show="true" widget="timestamp"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn35">
                            <wm-form-field readonly="false" name="SvInsertWithBlobRequest_BLOBCOL" displayname="Blobcol" key="SvInsertWithBlobRequest.BLOBCOL" type="byte" show="true" widget="number" multiple="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup2">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button5"></wm-button>
                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button6"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button7"></wm-button>
                </wm-buttongroup>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>